-i https://repos.infervision.com/repository/pypi/simple
fastapi==0.85.0
uvicorn[standard]==0.18.3
gunicorn==20.1.0
loguru==0.6.0
dynaconf==3.1.9
requests==2.28.1
tenacity==8.1.0
numpy==1.21.6
opencv-python==4.6.0.66
langchain
openai
channels_redis
channels
daphne
Django
django-sesame
django-redis
